body{
    margin:0;
}
.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section{
    padding: 10px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section-dark{
    background:#eee;
}
.section-horizontal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
h1,h2,h3,h4,h5,h6{
    font-family:"Noto Sans",sans-serif;
}
p{
    margin:0;
    font-family:"Noto Sans",sans-serif;
}
.text-secondary{
    font-family: "Noto Serif", serif;
}
.text-mono{
    font-family: "Noto Sans Mono", monospace;
}
.text-left{
    text-align: left;
}
.text-fw{
    width: 100%;
}
.image-wrapper{
    margin-right: 50px;
}
.image-wrapper img{
    width:200px;
    height: 200px;
    border-radius: 100px;
}
hr{
    height: 1px;
    width: 100%;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    padding: 0;
    margin: 20px 0 20px 0;
    border: 0;
}
.section-content{
    width:50%;
}
.entry{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 5px;
}
.date-container{
    display: flex;
    justify-content: center;
}
.progress-bar-wrapper{
    margin-left: 10px;
    margin-right: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.progress-dot{
    width:10px;
    height: 10px;
    border-radius: 50%;
    background-color: #cfcfcf;
}
.progress-bar{
    margin-top: 5px;
    width:3px;
    height: calc(100% - 20px);
    background-color: #cfcfcf;
}
.icon{
    margin-right: 10px
}
.icon img{
    width: 60px;
    border-radius: 5px;
}
.date{
    width:80px;
    font-size: 14px;
    text-align: right;
    padding-right: 5px;
    color: #bbb;
}
.date p{
    line-height: 18px;
}
.description p{
    width: 100%;
}
.entry-name{
    font-size: 1.1rem;
}
.entry-date{
    font-size: 0.9rem;
    font-weight: 600;
}
.entry-desc{
    margin-top: 2px;
    margin-bottom: 10px;
    text-align: justify;
}
.section-content{
    width: 50%;
}
@media screen and (max-width: 1024px){
    .section-content {
        width: 75%;
    }
}
@media screen and (max-width: 900px){
    .section-horizontal{
        flex-direction: column;
    }
    .image-wrapper{
        margin-right: 0;
    }
}

@media screen and (max-width: 600px){
    .section-content {
        width: 90%;
    }
}